@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  height: 460px;
  width: 350px;
  background-color: #fff;
}

.slider-container-admin {
  width: 1000px;
  height: 200px;
}


.card-reduced {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  height: 410px;
  width: 350px;
}
.card-reduced > figure {
  width: 90%;
  margin: 20px auto 0 auto;
}

.card-reduced-as {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  height: 370px;
  width: 350px;
}
.card-reduced-as > figure {
  width: 90%;
  margin: 20px auto 0 auto;
}

.card > figure {
  width: 90%;
  margin: 20px auto 0 auto;
}

.card > figure > img {
  width: 100%;
}

.slick-slide>div {
  margin: 0 10px;

}

.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.slick-slide.slick-center img {
  transform: scale(1.1);

}

.details {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 82%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  transition: box-shadow 0.3s ease-in-out, top 0.3s ease-in-out;
}

.card:hover .details {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  top: 40%;
}

.details > .min-details,
.details > .options,
.details > .options > .options-colors {
  margin-bottom: 10px;
}

.details > .min-details {
  display: flex;
  justify-content: space-between;
}

.details > .min-details > h1 > span {
  color: #7b7b7b;
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
}

.btn {
  background-color: #f70073;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn2 {
  background-color: #ffe500;
  border-radius: 5px;
  color: #000000;
  display: flex;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn2:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.align-right {
  text-align: right;
}
.image-container {
  height: 400px;
  overflow: hidden;
}

.eye-icon:hover {
  transform: scale(
    1.2
  ); /* Aumenta el tamaño del icono cuando se pasa el cursor sobre él */
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

