@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.slider-container-admin {
  width: 1000px;
  height: 200px;
}

.card:hover .details {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  top: 40%;
}

.btnTarjeta {
  background-color: #f70073;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btnTarjeta:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btnMercadoLibre {
  background-color: #ffe500;
  border-radius: 5px;
  color: #000000;
  display: flex;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btnMercadoLibre:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* Media Queries para dispositivos pequeños (menos de 600px) */
@media (max-width: 600px) {
  .btnTarjeta {
    padding: 8px; /* Reducir el padding para dispositivos más pequeños */
    font-size: 14px; /* Reducir el tamaño de la fuente para mantener la proporcionalidad */
  }
  .btnMercadoLibre {
    padding: 2px; /* Reducir el padding para dispositivos más pequeños */
    font-size: 14px; /* Reducir el tamaño de la fuente para mantener la proporcionalidad */
  }
}

/* Media Queries para tabletas (600px - 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  .btnTarjeta {
    padding: 10px; /* Ajustar el padding para tabletas */
    font-size: 16px; /* Ajustar el tamaño de la fuente para mejor legibilidad */
  }
  .btnMercadoLibre {
    padding: 4px; /* Ajustar el padding para tabletas */
    font-size: 16px; /* Ajustar el tamaño de la fuente para mejor legibilidad */
  }
}

/* Media Queries para pantallas grandes (más de 900px) */
@media (min-width: 900px) {
  .btnTarjeta {
    padding: 12px; /* Mantener un padding mayor para pantallas grandes */
    font-size: 18px; /* Incrementar el tamaño de la fuente para una mejor visualización */
  }
  .btnMercadoLibre {
    padding: 6px; /* Mantener un padding mayor para pantallas grandes */
    font-size: 18px; /* Incrementar el tamaño de la fuente para una mejor visualización */
  }
}


.slick-slide>div {
  margin: 0 10px;

}

.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.slick-slide.slick-center img {
  transform: scale(1.1);

}

.text-delineado {
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}
.text-delinead {
  text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff; 
}

.align-right {
  text-align: right;
}
.image-container {
  height: 400px;
  overflow: hidden;
}

.eye-icon:hover {
  transform: scale(
    1.2
  ); /* Aumenta el tamaño del icono cuando se pasa el cursor sobre él */
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

/* cuadro modal de correo enviado */
.container-modal {
  width: 50%;
  height: auto;
  position: fixed;
  background-color: #f5f5f5e2;
  z-index: 100;
  justify-content: center;
  align-items: center;
  display: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.background-image-nosotras {
 align-items: center;
  top: 0;
  left: 0;
  width: 60%;
  height: 40%;
 /* Ajusta el brillo y el contraste */
 
}
.custom-shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);

}

.card-logo {
@apply bg-white w-20 h-20 sm:w-32 sm:h-32 md:w-32 md:h-32 lg:w-32 lg:h-32 2xl:w-32 2xl:h-32   grid place-content-center rounded-lg text-black
border-2 border-black object-cover shadow-white/35 shadow-md;



}

.card-logo:hover {

  transition: all 0.2s ease-in-out;
  border-radius: 20%;
  opacity: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);;
  scale: 105%;
  

  }

.imagen-componente {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  
}

.enter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  gap: 25px;
  font-size: 0.7em;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: #C1D128;
  position: relative;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.arrow {
  height: 20px;
}
.enter-button:hover {
  transition-duration: 0.3s;
  box-shadow: 0px 0px 2px rgb(185, 185, 185), 0px 0px 10px rgb(97, 97, 97);
}
.enter-button:active {
  transform: scale(0.95);
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}
.bin-bottom {
  width: 15px;
  z-index: 2;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 95, 95);
}
.bin-button:active {
  transform: scale(0.9);
}
.garbage {
  position: absolute;
  width: 14px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}
@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

/* Añade esto a tu archivo CSS */
/* .tooltip::after {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  transform: translateX(-50%) translateY(-100%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent black transparent;
  transition: opacity 0.3s ease-in-out;
} */



/*Prueba*/
.cardd {
  position: relative;
  width: 300px;
  height: 300px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.cardd_title {
  font-weight: bold;
}

.cardd_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: white;
  border-top-left-radius: 20px;
  transform: translateY(150px);
  transition: transform .25s;
}

.cardd_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px white;
}

.cardd_title {
  color: #F70073;
  line-height: 15px;
}

.cardd_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.cardd_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.cardd:hover .cardd_content {
  transform: translateY(0);
}

.cardd:hover .cardd_description {
  opacity: 1;
  transition-delay: .25s;
}

/* Estilo para Firefox */
.custom-scrollbar {
  scrollbar-color: #F70073 white; /* thumb y track */
  scrollbar-width: thin;
}

/*-----------------*/

.custom-scrollbarL::-webkit-scrollbar-thumb {
  background-color: #F70073; /* El color del pulgar del scrollbar */
  border-radius: 20px;
  border: 3px solid orange; /* Si quieres un borde alrededor del pulgar */
}

/* Estilo para Firefox */
.custom-scrollbarL {
  scrollbar-color: #F70073 white; /* thumb y track */
}



.paginacionCarruselAsociadas {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}



.swiper-button-next,
.swiper-button-prev {
  margin-top:  350px!important; 
 font-size: xx-small !important;
  
    right:10px;
    padding: 7px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    z-index:10 !important ;
    
}

.swiper-scrollbar{
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-bottom: 4px;
  --swiper-scrollbar-size: 7px;
}
.swiper-button-next{
  margin-right: 480px !important;
  font-size: xx-small !important;
}


.swiper-button-prev{
  margin-left: 480px !important;
}

/* Animación para aparecer un objeto */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

/* BOTON FINALIZAR PEDIDO */
.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247,0,115);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: calc(100% + 40px);
  aspect-ratio: 1/1;
  position: absolute;
  content: "";
  background-color: palevioletred;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translate(-150%, -50%);
  transition-duration: .5s;
  mix-blend-mode: screen;
}

.Btn:hover::before {
  transform: translate(0, -50%);
}

.Btn:active {
  transform: translateY(4px);
  transition-duration: .3s;
}

.text-error {
  color: #ff0000; /* Rojo brillante */
  font-size: 12px; /* Tamaño mayor */
  font-weight: bold; /* Más grueso */
  border: 1px solid #ff0000; /* Borde que hace contraste */
  background-color: #fff4f4; /* Fondo sutil para más contraste */
  padding: 4px; /* Espaciado para no sentirse apretado */
  border-radius: 5px; /* Bordes redondeados para suavidad */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
}

/* Estilo básico para el contenedor */
.datos-personales-container {
  background-color: white;
  box-shadow: 0 4px 6px rgba(247, 0, 115, 0.3); /* Sombra con un toque de color */
  padding: 16px 48px; /* Espaciado interior */
  margin-top: 16px;
  margin-left: 64px;
  margin-right: 64px;
  border-radius: 8px; /* Bordes redondeados */
  transition: all 0.3s ease-in-out; /* Transición suave para efectos hover */
}

/* Hover efecto para aumentar la sombra */
.datos-personales-container:hover {
  box-shadow: 0 8px 15px rgba(247, 0, 115, 0.5);
}

.datos-personales-container:hover .header-container h2 {
  color: #f70073; /* Cambia el color del texto a rosa cuando el mouse está sobre el contenedor */
}

/* Estilo para el encabezado y el botón de expansión */
.header-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease-in-out; /* Transición suave del color */
}

.header-container h2 {
  font-size: 24px; /* Tamaño del texto */
  font-weight: 600; /* Peso de la fuente */
  color: #333; /* Color del texto */
}

.header-container h2:hover {
  color: #f70073; /* Color al pasar el mouse, un rosa fuerte */
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.animate-shake {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.fondo-nosotras {
  background-image: url('/backgroundImagev2.png'); 
  background-size: cover; 
  background-position: center; /* Para centrar el fondo */
  z-index: 0;
}
.fondo-pictograma-carrusel {
  background-image: url('/multimedia/pictogramas13.png'); 
  background-size: cover; 
  background-position: center; /* Para centrar el fondo */
}


.responsive-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 30;
}

.menu.open {
  transform: translateX(0);
}
